@page "{collectionid:int}"
@model collectCore.Pages.Creation.Add_cardModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Add card";
}
@using collectCoreBLL.Models;

<div>
    <section id="collectionsShow">
        <h1>Add Card</h1>
        <hr>
        <div>
            @{
                foreach (collectCoreBLL.Models.Item item in Model.Items)
                {
                    <div>
                        <p>@item.Name</p>
                        <p>€@item.ItemValue</p>
                        <form method="post">
                            <input type="hidden" name="ItemID" value="@item.ItemID" />
                            <button type="submit">Add</button>
                        </form>
                    </div>
                }
            }
        </div>
    </section>
</div>