@page
@model collectCore.Pages.collectionModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "collection";
}
@using collectCore.Models;

<div>
    <section id="collections">
        <h1>Your collections</h1>
        <hr>
        <div>
            @{
                foreach(Collection collection in Model.Collections)
                {
                    <div>
                        <p>@collection.Name</p>
                        <button>
                            <a href="#">View</a>
                        </button>
                    </div>
                }
            }
        </div>
    </section>
</div>