@page
@model collectCore.Pages.collectionModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "collection";
}

<div>
    <section id="collections">
        <h1>Your collections</h1>
        <hr>
        <div>
            <div>
                <p>CollectionName</p>
                <button>
                    <a href="#">View</a>
                </button>
            </div>
            <div>
                <p>CollectionName</p>
                <button>
                    <a href="#">View</a>
                </button>
            </div>
            <div>
                <p>CollectionName</p>
                <button>
                    <a href="#">View</a>
                </button>
            </div>
            <div>
                <p>CollectionName</p>
                <button>
                    <a href="#">View</a>
                </button>
            </div>
            <div>
                <p>CollectionName</p>
                <button>
                    <a href="#">View</a>
                </button>
            </div>
            <div>
                <p>CollectionName</p>
                <button>
                    <a href="#">View</a>
                </button>
            </div>
        </div>
    </section>
</div>