@page
@model collectCore.Pages.loginModel
@{
    Layout = "_layoutLogin";
    ViewData["Title"] = "Login";
}

<div>
    <form method="post">
        <input type="text" name="Email" placeholder="E-mail">
        <input type="text" name="Password" placeholder="Password">
        <button type="submit">Log in</button>
    </form>
</div>
